streamlit
pandas
openpyxl
scikit-learn
xlsxwriter
xlrd
plotly
pandas
numpy
scipy
matplotlib
japanize-matplotlib
seaborn
requests
lxml
beautifulsoup4
selenium
openpyxl
xlwings
schedule
PySNMP
Paramiko
Netmiko
pip-review 
tqdm
pymsteams
chardet
kaleido
